---
import { getCollection, render } from "astro:content";
import MySiteLayout from '../../layouts/Layout.astro'
import { ClientRouter } from "astro:transitions";

export async function getStaticPaths() {
  const posts = await getCollection('blog')

  return posts.map(post => ({
    params: { id: post.id },
    props: { post }
  }))
}
const { post } = Astro.props;
const { Content } = await render(post)

---
<head>
  <title>{post.data.title}</title>
  <meta name="description" content={post.data.description} />
  <meta property="og:title" content={post.data.title} />
  <meta property="og:description" content={post.data.description} />
  <meta property="og:image" content={post.data.image} />
</head>
<MySiteLayout>
  <h1>{post.data.title}</h1>
  <div>
    <img src={post.data.image} alt={post.data.title} loading="lazy" width="100%" />
  </div>
  <h4><em>{post.data.description}</em></h4>
  <Content />
  <div id="blog-controls">
    <div>
      <button id="prev-post-btn">
        Previous Post
      </button>
    </div>
    <div>
      <button id="next-post-btn">
        Next Post
      </button>
    </div>
  </div>
</MySiteLayout>

<style is:global>

#blog-controls {
  display: flex;
  justify-content: space-between;
}
#blog-controls button {
  border-radius: 0px;
  background-color: rgb(218, 217, 217);
}

  img {
    max-width: 100%;
  }

  p {
    color: white;
  }

  h3 {
    color: purple !important;
  }

</style>